<% include partials/header %>

<h1>NOVO USUÁRIO - Sign Up FORM</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Usuário">
    <input type="password" name="password" placeholder="Senha">
    <button>Registrar Novo Usuário</button>
    
</form>


<% include partials/footer %>